@import 'tailwindcss';

@theme {
  --font-sans:
    var(--font-mulish), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: hsl(158, 100%, 33%);
  --color-primary-hover: hsl(158, 34%, 42%);
  --color-bg: hsl(167, 44%, 94%);
  --color-foreground: hsl(162, 10%, 20%);
  --color-title: hsl(158, 11%, 39%);
}

body {
  @apply bg-bg text-foreground;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
